<!DOCTYPE html>
<html>

<head>

    <!-- Bootstrap Select Css -->
    <link href="../../plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="../../plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />


</head>



<section class="content">
    <div class="container-fluid">
        <!-- Counter Examples -->
        <!--<div class="block-header">-->
            <!--<h2>-->
                <!--Issuing Form-->
            <!--</h2>-->
            <!--<hr>-->

        <!--</div>-->
        <div class="row">
            <!-- Input -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Item Issuing Forum
                                <small></small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body js-exportable">

                            <h2 class="card-inside-title">Select the issuing item</h2>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>කාණ්ඩය</label>
                                    <select class="form-control show-tick select2" required>
                                        <option value="10"></option>
                                        <option>ලී බඩු</option>
                                        <option>වානේ</option>
                                        <option>ප්ලාස්ටික්</option>

                                    </select>

                                </div>
                                <div class="col-sm-4">
                                    <label>වර්ගය</label>
                                    <select class="form-control show-tick select2">
                                        <option value="10"></option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="50">50</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label>උප වර්ගය</label>
                                    <select class="form-control show-tick select2">
                                        <option value="10"></option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="50">50</option>
                                    </select>
                                </div>

                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>අයිතම</label>
                                    <select class="form-control show-tick select2">
                                        <option value="10"></option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="50">50</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label>සංයුක්ත අංක</label>
                                    <select class="form-control show-tick select2">
                                        <option value="10"></option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="50">50</option>
                                    </select>
                                </div>
                            </div>

                            <!--<h2 class="card-inside-title">Different Sizes</h2>-->
                            <!--<div class="row clearfix">-->
                                <!--<div class="col-sm-12">-->
                                    <!--<div class="form-group form-group-lg">-->
                                        <!--<div class="form-line">-->
                                            <!--<input type="text" class="form-control" placeholder="Large Input" />-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<div class="form-line">-->
                                            <!--<input type="text" class="form-control" placeholder="Default Input" />-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group form-group-sm">-->
                                        <!--<div class="form-line">-->
                                            <!--<input type="text" class="form-control" placeholder="Small Input" />-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<h2 class="card-inside-title">Floating Label Examples</h2>-->
                            <!--<div class="row clearfix">-->
                                <!--<div class="col-sm-12">-->
                                    <!--<div class="form-group form-float">-->
                                        <!--<div class="form-line">-->
                                            <!--<input type="text" class="form-control">-->
                                            <!--<label class="form-label">Username</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-sm-12">-->
                                    <!--<div class="form-group form-float">-->
                                        <!--<div class="form-line">-->
                                            <!--<input type="password" class="form-control">-->
                                            <!--<label class="form-label">Password</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-sm-12">-->
                                    <!--<div class="form-group form-float form-group-lg">-->
                                        <!--<div class="form-line">-->
                                            <!--<input type="text" class="form-control" />-->
                                            <!--<label class="form-label">Large Input</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group form-float">-->
                                        <!--<div class="form-line">-->
                                            <!--<input type="text" class="form-control" />-->
                                            <!--<label class="form-label">Default Input</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group form-float form-group-sm">-->
                                        <!--<div class="form-line">-->
                                            <!--<input type="text" class="form-control" />-->
                                            <!--<label class="form-label">Small Input</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <h2 class="card-inside-title">Set Issuing Details</h2>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Issue date</label>
                                        <div class="form-line focused">
                                            <input type="text" class="datepicker form-control" placeholder="select the date" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Issue Reference / Order number</label>
                                        <div class="form-line disabled">
                                            <input type="text" class="form-control" placeholder="Ref No" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Issuing Place</label>
                                        <div class="form-line disabled">
                                            <select class="form-control show-tick select2">
                                                <option value="10"></option>
                                                <option value="10">Main office</option>
                                                <option value="20">Adahanagara</option>
                                                <option value="30">sub office</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <div class="form-group">

                                        <label>Quantity issuing</label>
                                        <div class="form-line disabled">
                                            <input type="text" class="form-control" placeholder="Quantity"   required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">

                                        <label>Price generated [unit price * quantity] </label>
                                        <div class="form-line disabled">
                                            <input type="text" class="form-control" placeholder="Price"  readonly required/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <!--<button type="button" class="btn bg-red waves-effect">-->
                                            <!--<i class="material-icons">print</i>-->
                                            <!--<span>PRINT...</span>-->
                                        <!--</button>-->

                                        <button type="button" class="btn btn-success waves-effect">
                                            <i class="material-icons">home</i>
                                            <span>CONFIRM</span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Input -->
        </div>
    </div>
</section>

<script>
    $('.select2').select2();
</script>
<!-- Bootstrap Material Datetime Picker Plugin Js -->
<script src="../../plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<!-- Moment Plugin Js -->
<script src="../../plugins/momentjs/moment.js"></script>
<!-- Autosize Plugin Js -->
<script src="../../plugins/autosize/autosize.js"></script>


</body>

</html>