
<section class="content">
    <div class="container-fluid">
        <ol class="breadcrumb breadcrumb-col-cyan">
            <li><a href="javascript:void(0);"><i class="material-icons">home</i> Home</a></li>
            <li><a href="javascript:void(0);"><i class="material-icons">library_books</i> Items</a></li>
            <li class="active"><i class="material-icons">archive</i> Batches</li>
        </ol>

        <div class="block-header">
            <h2>
                Batches
            </h2>
        </div>

        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="body">
                                        <button class="btn bg-teal waves-effect m-b-15" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                                                aria-controls="collapseExample">
                                            <i class="material-icons">add</i> අලුත් කාණ්ඩයක් එක් කරන්න
                                        </button>
                                        <div class="collapse" id="collapseExample">
                                            <div class="well">
                                                <div class="row clearfix">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="card">
                                                            <div class="body">
                                                                <form id="form_validation" action="items/add_batch/" method="POST">
                                                                    <div class="form-group form-float">
                                                                        <div class="form-line">
                                                                            <input type="text" class="form-control" name="batch_type" required>
                                                                            <label class="form-label">කාණ්ඩ වර්ගය පුරවන්න</label>
                                                                        </div>
                                                                    </div>
                                                                    <button class="btn btn-success waves-effect" type="submit">SUBMIT</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            {{#if items.length }}
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                <tr>
                                    <th>කාණ්ඩ අoකය</th>
                                    <th>කාණ්ඩ වර්ගය</th>
                                    <th>වෙනස් කරන්න</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>කාණ්ඩ අoකය</th>
                                    <th>කාණ්ඩ වර්ගය</th>
                                    <th>වෙනස් කරන්න</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {{# each items}}
                                <!--<% items.forEach(function(item,index){%>-->
                                    <tr>
                                        <td>{{ this.batch_id }}</td>
                                        <td>{{ this.batch_type }}</td>
                                        <td><a href="items/edit_batch/{{ this.batch_id }}" class="btn bg-green waves-effect m-b-15" role="button"><i class="material-icons">edit</i></a></td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>

                            {{else }}
                            <!--<% } else{ %>-->
                            <p><strong> There is no records available </strong></p>
                            <!--<% } %>-->
                                {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->

    </div>
</section>

